.ini{
    display: flex;
    place-content: center;
    height: 900px;
    width: 100%;
}
.container {
    
    padding: 30px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: blue;
    gap:20px;
}

.item {

    background: rgb(224, 221, 221);
    height: 200px;
    width: 200px;
}

.item:hover {

    background-image: url(/img/bomb.jpg);
    background-size: cover;

}

img {
    height: 200px;
    width: 200px;
    transition: 1s;
}

img:hover {

    opacity: 0;
}

.item-6:hover {
    background-image: url(/img/hose-burst-pressure--1024x683-1498854275.jpg);
    background-size: cover;
}

section{
    padding: 30px;
    width: 600px;
   
}